
/* FUNDO DO SITE */
BODY
{
	BACKGROUND-COLOR:#BEBEBE;
}

/* TAGS "H" E FORMATO DA LETRA */
H1,H2,H3
{
	FONT-FAMILY:VERDANA;
}

/* SEÇÕES */
SECTION
{
	BACKGROUND-COLOR:#FFFFFF;
	FONT-FAMILY:TIMES NEW ROMAN;
	PADDING:10PX;
}

/* RODAPÉ */
FOOTER
{
	BACKGROUND-COLOR:#000000;
	COLOR:#FFFFFF;
	FONT-FAMILY:VERDANA;
	FONT-SIZE:12PX;
	TEXT-ALIGN:CENTER;
	PADDING:8PX;
}

/* IMAGEM E VIDEO*/
IMG, VIDEO
{
	MAX-WIDTH:100%;
}

/* NAVEGADOR */
NAV
{
	BACKGROUND-COLOR:#000000;
	HEIGHT:35PX;
	FONT-FAMILY:VERDANA;
	FONT-WEIGHT:BOLD;
	FONT-SIZE:14PX	
}

/* DENTRO DE NAVEGADOR OS ÍTENS DA LISTA */
NAV UL
{
	HEIGHT:AUTO;
	PADDING:8PX 0PX;
	MARGIN:0PX;	
}

NAV LI
{
	/* TÓPICOS NA HORIZONTAL */
	DISPLAY: INLINE;
	PADDING: 10PX;
	MARGIN: 0PX;	
}

NAV A
{
	/* TIRAR O SUBLINHADO DO LINK */
	TEXT-DECORATION: NONE;
	PADDING: 8PX 8PX 8PX 8PX;
}

NAV A:HOVER
{
	/* MUDANDO O MENU QUANDO O MOUSE SE APROXIMA, FICANDO VERMELHO */
	BACKGROUND-COLOR: #7FFF00;
	COLOR: #0000FF;
}
	
/* DEIXANDO O SITE CENTRALIZADO A PARTIR DE 960PX */
@MEDIA ALL AND (MIN-WIDTH: 960PX )
{
	BODY
	{
		WIDTH: 960PX;
		MARGIN: AUTO;
	}
}

/* DEIXANDO O MENU NA VERTICAL QUANDO ABAIXO DE 480PX */
@MEDIA ALL AND ( MAX-WIDTH: 480PX )
{
	NAV
	{
		HEIGHT:100%;
    }
	
	NAV LI
	{
		DISPLAY: BLOCK;
		PADDING: 10PX;
		MARGIN: 0PX;		
	}
}
	
	
	
	




